<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>东方宇信中央管理系统</title>
    <link rel="stylesheet" type="text/css" href="plugins/themes/metro/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/themes/color.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/themes/icon.css"/>
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',split:true" style="height:100px;background: cornflowerblue;">
    <div>
        <h1>东方宇信中央管理系统</h1>
    </div>
</div>
<div data-options="region:'west',title:'功能列表',split:true" style="width:150px;">
    <!-- #include PathType = "component/function.html" --> 
</div>
<div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;"></div>
</body>
</html>