<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>退料页面</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="sagittarius/vue.js"></script>
    <script src="sagittarius/vue-resource.js"></script>
    <script type="text/javascript" src="sagittarius/jquery-1.4.4.min.js"></script>
    <script language="javascript" src="sagittarius/jquery.jqprint-0.3.js"></script>

    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>

<div id="confirmPage" style="margin-left: 400px;margin-top: 100px" :class="{hide:display==0}">
    <div v-for="thirdLevel in materialReturnList" >
        <div style="width:100%;margin: 0 auto ;margin-top: 20px;"  v-if="thirdLevel.backQuantity>0">
            <div style="width:10%;float:left;"><img src="{{thirdLevel.materialImage}}" style="max-height:70px;max-width:70px;"></img></div>
            <div style="width:28%;float:left;font-size: 20px">
                <div style="margin-top: 5px"><span>{{thirdLevel.materialName}}</span></div>
                <div style="margin-top: 5px;float:left;"><span class="text-muted">退料数量:{{thirdLevel.backQuantity}}</span></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="margin-top: 30px;">
        <button class="btn btn-lg btn-success" v-on:click="print">确定</button>
        <button class="btn btn-lg btn-danger" style="margin-left: 50px" v-on:click="changeDis">修改</button>
    </div>
</div>

<div id="selectPage" :class="{hide:display==1}">
    <div style="position: fixed;top: 0px;width: 100%;z-index:10;background: #fff;">
        <h1 style="text-align: center;">任务1</h1>
    </div>
    <div style="min-height: 1000px;margin-top: 100px;margin-left: 50px">
        <div v-for="thirdLevel in materialReturnList" style="margin-bottom: 10px">
                <div style="width:10%;float:left;"><img src="{{thirdLevel.materialImage}}" style="max-height:70px;max-width:70px;"></img></div>
                <div style="width:18%;float:left;font-size: 20px">
                    <div style="margin-top: 5px"><span>{{thirdLevel.materialName}}</span></div>
                    <div style="margin-top: 5px;float:left;"><span class="text-muted">领取数量:{{thirdLevel.selectQuantity}}&nbsp;&nbsp;&nbsp;退料数量:</span></div>
                </div>
                <div class="row" style="float:left;width: 50%;margin-top: 32px">
                    <div class="input-group" >
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" v-if="thirdLevel.backQuantity>0" v-on:click="thirdLevel.backQuantity -= 1">-</button>
                        </span>
                            <input type="text" readonly="readonly" class="form-control" placeholder="0" style="text-align:center;font-size: 20px;width: 150px" value="{{thirdLevel.backQuantity}}"></input>
                            <!--  <span class="input-group-btn">-->
                              <button class="btn btn-default" type="button" v-if="thirdLevel.selectQuantity>thirdLevel.backQuantity" v-on:click="thirdLevel.backQuantity += 1">+</button>
                            <!-- </span>-->
                    </div>
                </div>

                 <div style="clear: both"></div>
             </div>
         </div>
         <div style="position:fixed; bottom:0; left: 0;width: 100%; height: 70px;">
             <div style="background: black;float:left;height: 100%;width: 80%">
                 <span>合计数量：10</span>
             </div>
             <button id="confirm"  style="width: 20%;background: green;float:left;height: 70px;
                 line-height:70px;text-align: center;vertical-align: middle;font-size: x-large;font-weight: bold;color: white" v-on:click="changeDis">去退料
             </button>
         </div>
     </div>

     <div id="printDiv" style="display: none">
         <h4>东方宇信领料单</h4>
         <div>
             <span>退料人:</span>
         </div>
         <div>
             <span>退料时间：</span>
             <span >{{currentTime}}</span>
         </div>
         <div>
             <span>退料详情</span>
         </div>
         <div style="width: 30%">
             <span>材料名称</span>
             <span style="float: right">数量</span>
         </div>

         <div v-for="thirdLevel in materialReturnList" >
             <div style="width:100%;margin: 0 auto ;margin-top: 10px;"  v-if="thirdLevel.selectQuantity>0">
                 <div style="width: 30%">
                     <span>{{thirdLevel.materialName}}</span>
                     <label style="float: right">{{thirdLevel.backQuantity}}</label>
                 </div>
             </div>
             <div style="clear: both"></div>
         </div>
     </div>

     <script th:inline="javascript">
         var menulist = new Vue({
             el: 'body',

             data: {
                 materialReturnList: [[${materialReturnArray}]],
                 currentIndex: '99',
                 display:0,
                 currentTime:new Date().getFullYear()+"-"+(new Date().getMonth()+1)+"-"+new Date().getDate()+" "+new Date().getHours()+":"+new Date().getMinutes()+":"+new Date().getSeconds()
             },
             // 在 `methods` 对象中定义方法
             methods: {
                 changeDis:function(){
                     this.display == 1 ? this.display = 0 :this.display = 1;
                 },
                 print:function(){
                     $.ajax({
                         url: "/materialNavigation/add",
                         data: {taskCode:'1', dataList:JSON.stringify(this.materialReturnList)},
                         async: false,
                         success: function (result) {
                             $("#printDiv").show()
                             $("#printDiv").jqprint();
                             $("#printDiv").hide()
                         }
                     });
                 }
             }
         })


     </script>
     </body>
     </html>